@model UserInfo
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    <table class="table table-bordered">
        <tr>
            <td>姓名：</td>
            <td>@Html.TextBoxFor(s => s.Uname)</td>
        </tr>

        <tr>
            <td>登录名：</td>
            <td>@Html.TextBoxFor(s => s.LoginName)</td>
        </tr>

        <tr>
            <td>部门：</td>
            <td>@Html.DropDownListFor(s => s.DetpId, ViewBag.bandsel as SelectList)</td>
        </tr>

        <tr>
            <td>注册时间：</td>
            <td>@Html.TextBoxFor(s => s.RegistrationTime)</td>
        </tr>

        <tr>
            <td></td>
            <td><input id="Submit1" type="submit" value="添加" class="btn btn-primary" /></td>
            <td></td>
        </tr>
    </table>
}